<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>jqueryDemo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DataTableServlet01</servlet-name>
		<servlet-class>tw.elliot.servlet.DataTableServlet01</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataTableServlet01</servlet-name>
		<url-pattern>/DataTableServlet01</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataTableServlet02</servlet-name>
		<servlet-class>tw.elliot.servlet.DataTableServlet02</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataTableServlet02</servlet-name>
		<url-pattern>/DataTableServlet02</url-pattern>
	</servlet-mapping>
</web-app>